body{
    background-color: rgb(157,38,29);
    padding-top: 50px;
    padding-bottom: 60px;
}
.tituloNF{
    background-color: black;
    font-size: 16px;
    font-weight: bold;
}
#tituloNF{
    background-color: rgb(65,133,245);
    font-size: 16px;
    font-weight: bold;
}
#tituloP{
    background-color: rgb(140,196,116);
    font-size: 16px;
    font-weight: bold;
}
#tituloM{
    background-color: rgb(251,203,67);
    font-size: 16px;
    font-weight: bold;
}
#tituloA{
    background-color: rgb(228,111,97);
    font-size: 16px;
    font-weight: bold;
}
#tituloO{
    background-color: rgb(188,86,121);
    font-size: 16px;
    font-weight: bold;
}
#tituloOO{
    background-color: rgb(157,38,29);
    font-size: 16px;
    font-weight: bold;
}
#nav-imgUsuario-Nombre{
  margin-top: 5px;
}
@media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
.sidebar-nav {
        padding: 9px 0;
      }
.boton-iniciar-sesion{
    color:white;
    margin-top: 2px;
}
@font-face{
    font-family: 'spincycle';
    src: url('../fuentes/spincycle.ttf'),url('../fuentes/spincycle.eot'); /* IE9 */
}
.header{
    font-family: 'spincycle';
    background-color: rgb(157,38,29);
    color: white;
    padding-top: 13px;
    padding-bottom: 10px;
}
.separador{
	background-color: rgb(240,240,240);
	height: 15px;
}
#navbar-menu{
}
.navbar-menu{
    padding-top: 10px;
    padding-bottom: 10px;
}
.iconos-menu{
    color: white;
    font-size: 50px;
}
.top{
    margin-top: 20px;
}
.publicacion{
	background-color: rgb(245,245,245);
	border-bottom: 2px solid;
	border-color: rgb(215,215,215);
}
.publicacion-mini{
	background-color: rgb(245,245,245);
	border-bottom: 2px solid;
	border-color: rgb(215,215,215);
}
.imagen-publicacion-nula{
    font-size: 150px;
}
.imagen-publicacion-nula-mini{
    font-size: 50px;
}
.mini-news-feed{
    height: 750px;
    overflow-y: scroll;
    max-height: 750px;
}

